 body {
    padding: 0%;
    margin: 0%;
    background-color: rgb(14, 14, 14);
  }
  
  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 65px;
  }
  
  .App ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .App ul li {
    display: flex;
  }
  
  .logo-container {
    width: 280px;
    height: auto;
    animation: rotation 60s infinite linear;
  }

  .dragonball {
    padding: none;
  }


  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .text {
    font-size: large;
    font-family: 'Inter', sans-serif;
    padding: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
  }

  .home-navbtn:hover {
    background:#F2CB05;
    transition: 0.4s;
  }

  .home-navbtn:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #F2CB05;
    transition: 0.7s;
  }

  .home-navbtn:active {
    background-color: #F29f05;
}

  .home-navbtn {
    padding: 10px;
    margin: 15px;
    width: fit-content;
    background-color: #F21313;
    border: none;
    border-radius: 3px;;
    font-size: large;
    font-family: 'Inter', sans-serif;
  }

  .dragonball img {
  max-height: 100;
  width: auto;
  }