.App {
  /* text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: url(resized_yellow_cursor.png) */
}

body {
  padding: 0%;
  margin: 0%;
}

.logo-container {
/* display: block; */
/* position: fixed; */
/* position: inherit; */
width: 15%;

/* display: flex;
flex-direction: row;
justify-content: space-between; */
}

.navbar {
  /* position: fixed; */
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* position: fixed; */
  padding: 0.5rem calc((50vw - 1000px)/2);
  z-index: 10;
  
  /* box-shadow: 0px 5px 0px #dedede; */
}

.navbar a {
  text-decoration: none;
  color: #F29F05;
}

.navbar a:hover {
  background:#ddd;
  color: black;
  text-decoration: none;
}

.navbar ul {
  /* display: block; */
  flex-direction: row;
  /* position: fixed; */
  justify-content:space-between;
  padding-top: 2%;
}

.nav-container {
  text-align: end;
}

/* .App ul {
  display: flex;
  justify-content: space-around;
  /* border-style: solid; */


.App ul li {
  list-style: none;
}

body {
  /* background-color: rgb(209, 126, 25); */
  /* background-color: #F29F05; */
  background-color: #343A40;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

}

.image {
  width: 250px;
  /* border-radius: 10px; */
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.content {
  color: black;
  animation: slide-right 1s ease .5s;
  animation-fill-mode: forwards;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  
}